@import "./../../styles/variable.scss";

.refer {
  margin-top: 20px;
  position: relative;
  .refer-link {
    font-family: $headingFont;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    .copyIcon {
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;
      z-index: 9;
    }
    &:hover .copyIcon {
      opacity: 1;
    }
  }
  .copied {
    margin-top: 5px;
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: right;
    position: absolute;
    right: 20px;
  }
  .social-share {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;

    > * {
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
}
